.upsilon-login-page {
  width: 100%;
  height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F9;
}

.upsilon-app {
  flex-wrap: wrap;
}

.upsilon-app__container {
  height: 100vh;
}

.section-auth {
  width: 100%;
}

.app-name {
  text-align: center;
  margin-top: 29px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #000;
}

.button-login {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
  background-color: #7C41DE !important;
  color: white !important;
  font-size: 24px !important;
  text-align: center;
  width: 492px !important;
  height: 51px !important;
  border-radius: 15px !important;
}
.button-registration {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
  background-color: #7C41DE !important;
  color: white !important;
  font-size: 24px !important;
  text-align: center;
  width: 492px !important;
  height: 51px !important;
  border-radius: 15px !important;
}
.field-button{
  display: flex;
  justify-content: space-around;
}
.button-employer{
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
  background-color: #F0F1F5 !important;
  color: #9C9DB5 !important;
  font-size: 24px !important;
  text-align: center;
  width: 241px !important;
  height: 63px !important;
  border-radius: 15px !important;
  margin-left: 5px;
}
.button-seeker{
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
  background-color: #7C41DE !important;
  color: white !important;
  font-size: 24px !important;
  text-align: center;
  width: 241px !important;
  height: 63px !important;
  border-radius: 15px !important;
  margin-right: 5px;
}

/* Box */

.box-login {
  background-color: white !important;
  width: 580px !important;
  height: 650px !important;
  margin: 0 auto !important;
  margin-top: 66px !important;
  margin-bottom: 10px !important;
  padding: 50px 47px !important;
  border-radius: 20px !important;
}

.field-login {
  margin-bottom: 15px !important;
  height: 70px !important;
}
input::-webkit-input-placeholder { color: #6E6E6E!important; }
.registration-info {
  font-family: 'Ubuntu', sans-serif;
  color: #6E6E6E ;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}
.box-registration {
  background-color: white !important;
  width: 580px !important;
  height: 400px !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
  margin-bottom: 311px !important;
  padding: 78px 47px !important;
  border-radius: 20px !important;

}